[Unit]
Description=mylogs.service

[Timer]
Unit=mylogs.service
OnBootSec=90
OnUnitActiveSec=60min
Persistent=true

[Install]
WantedBy=timers.target


