[Unit]
Description=Clears cached packages older than three upgrades

[Timer]
Unit=pac_cache.service
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
