[Unit]
Description=Stores list of currently installed packages in a text file 

[Service]
Type=simple
ExecStart=/home/simone/sys_maint/pacman/pkg_list.sh
